body {
  background-color: rgb(245, 236, 228);
  height: 100vh;
}

.transition-div {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(188, 159, 159, 0.7);
  display: none;
  align-items: center;
  text-align: center;
}

@keyframes gameOverAnimation {
  0% {
    opacity: 0.8;
    transform: translateY(-20%);
  }
  20% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

aside {
  position: fixed;
  text-align: center;
  top: 20%;
  left: 27.5%;
  width: 45%;
  padding: 1rem;
  background-color: rgb(65, 22, 54);
  color: rgb(213, 187, 207);
  /* margin: 0 auto; */
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(29, 22, 29, 0.2);
  display: none;
  animation: gameOverAnimation 1000ms;
}

aside input {
  width: 70%;
  text-align: center;
  background-color: rgb(163, 54, 136);
  color: rgb(213, 187, 207);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgb(87, 34, 74);
}
h1 {
  margin-bottom: 0.5rem;
}

#game-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#game-board {
  margin: 3rem auto 1rem;
  border: 1px rgb(183, 50, 116);
  box-shadow: 1px 1px 10px 5px rgb(124, 64, 94);
}

td {
  /* border: 1px; */
  width: 2rem;
  height: 2rem;
  padding: 0;
  /* text-align: center;
  background-color: rgb(246, 197, 220) !important;
  background-color: rgb(253, 164, 207) !important; */
}

#results-table tr {
  border-bottom: 1px gray !important;
}

.circle {
  background-image: url("zmijica-dodatno/strw.png");
  background-size: 100%;
  background-position: center;
  /* background-color: rgb(133, 48, 213); */
  width: 2rem;
  height: 2rem;
  /* border-radius: 1rem; */
  margin-left: 1rem;
  /* box-shadow: 5px 5px 5px rgb(93, 18, 136); */
}

.star {
  background-image: url("zmijica-dodatno/chocolate.png");
  background-size: 100%;
  background-position: center;

  /* background-color: rgb(0, 179, 255); */
  width: 0.8rem;
  height: 0.8rem;
  /* border-radius: 0.4rem; */
  margin-left: 0.2rem;
  /* box-shadow: 5px 5px 5px rgb(20, 165, 124); */
}

.snake {
  background-color: rgb(166, 32, 126);
  width: 2rem;
  height: 2rem;
  margin-left: 18%;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 5px rgb(112, 76, 9);
}

.head {
  background-image: url("zmijica-dodatno/bear.png");
  background-size: 250%;
  background-position: center;
  width: 3rem;
  height: 3rem;
  /* border-radius: 0.2rem; */
  /* margin-left: 0.5rem; */
}
.score {
  margin: 0 auto 0;
}

.card-header {
  background: transparent;
}

.card {
  margin: 0.1rem auto;
  width: 12rem;
  height: 9rem;
  border-radius: 50px;
  background: #e0e0e0;

  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

a {
  font-size: 18px;
  color: #1d2137;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #1d2137;
}

button {
  margin: 1rem 0 1rem;
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #502156;
  color: #7fd5a5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.resCard {
  width: 20rem;
  height: auto !important;
}

.levelCards {
  background-color: #f9e5e5;
  border: none;
}

.selectInputs {
  border-radius: 1rem;
  background-color: #f9e5e5;
  border: none;
}

button:hover {
  box-shadow: 0 0 10px #611652, 0 0 25px #b73fa7, 0 0 50px #1e874b;
  transition-delay: 0.6s;
}

button span {
  position: absolute;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1e874b);
}

button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #293792);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1e874b);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

button:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

/* results href */
