#game-board {
  margin: 2rem auto;
}

td {
  /* border: 1px; */
  background-color: rgb(66, 112, 153);
  background-color: rgb(48, 78, 104);

  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  text-align: center;
}

.circle {
  background-color: red;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.star {
  background-color: yellow;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.snake {
  background-color: orange;
  width: 1.2rem;
  height: 1.2rem;
}

.score {
  margin: 2rem auto;
}
